* {
  text-align: center;
  font-family: Arial, sans-serif;
}

div#root {
  height: 100%;
}

div.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting
  these items shrink to smaller than their content's default minimum size. */
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
  margin-bottom: 20px;
}

div {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

textarea {
  min-width: 300px;
  text-align: left;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0 10px 0 rgba(0, 0, 0, 0.09);
  margin: 10px 0 0 0;
}

textarea:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

label {
  font-size: 20px;
}

select {
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-style: none;
  padding: 0 15px;
  margin: 10px 0 0 0;
}

button {
  padding: 10px;
  margin: 5px;
  min-width: 100px;
}

h1,
h2,
h3 {
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}
